@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Variáveis */
:root {
    /* Paleta de cores */
    --cor-principal: #d94fff;
    --cor-destaque: #ff447f;
    --cor-01: #f9f9f9;
    --cor-02: #b2c0d3;
    --cor-03: #677286;
    --cor-04: #1a1e27;
    --cor-05: #13161cba;
    --cor-06: #006aff;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
}

body {
    background-color: var(--cor-04);
    color: var(--cor-01);
}

.cabecalho {
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor-05);
    height: 3.5rem;
}

.logo {
    height: 3rem;
    width: 3rem;
}

.menu ul{
    display: flex;
    gap: 1rem;
    justify-content: center;

    li {
        text-decoration: none;
        list-style: none;
    }

    a {
        color: var(--cor-01);
        transition: 0.5s;   
    }

    a:hover {
        color: var(--cor-destaque);
    }
}



